@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --font-lexend: 'Lexend', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  }

  body {
    @apply bg-black text-white antialiased;
    font-family: var(--font-poppins);
  }
}

